body {
    background-color: whitesmoke;
    margin: 60px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 92px;
    color: darkgreen;

}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 60px;
}
h3 {
    font-family: Arial;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: darkgreen;
}
h4 {
    font-family: Arial;
    font-weight: bold;
    text-align:center;
    font-size: medium;
}
.quote {
    font-family:Arial;
    font-weight:bold;
    font-style:italic;
    font-size:larger;
    font-display:inherit;
    padding: 20px;
}
p {
    font-family: Arial;
    text-align: center;
    font-size: medium;
}

  .site-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-top: 5px;
    border-bottom: 5px;
    border-bottom: darkgreen;
  }
.site-nav-item {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkolivegreen;
    color:whitesmoke;
    border-top: 5px;
    border-bottom: 5px;
    border-color: darkgreen;
}
.site-nav .site-nav-item a:hover {
    text-decoration: underline;
    text-emphasis-color: whitesmoke;
}
.page-nav {
    list-style: circle;
    padding: 5px;
    text-align: left;
    font-family: Arial;
}
.page-nav-item {
    text-decoration: none;
    padding: 8px;
    text-align: left;
}
.page-nav .page-nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: darkgreen;
}
#section-1 {
    text-align: center;
}
figure {
    padding: 5px;
    float: right;
}
figcaption {
    font-family:Arial;
    font-size: smaller;

}
.items-list {
    font-size: medium;
    font-family: Arial;
    text-align: center;
    list-style: none;
}
.footer-nav {
    list-style: none;
    padding-top: 20px;

}
#page-footer {
    font-size: medium;
    border-top: 10px;
    border-color: darkgreen;
  }
#footer-image {
    width: 100px;
    height: 200px;
    object-fit: scale-down;
    border: 1px solid darkgreen;
    border-radius: 4px;
    float: right;
  }
.footer-copyright {
    text-align: left;
    font-size: small;
    margin-left: 20px;
  }