body {
    background-color: whitesmoke;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 48px;
}
h2 {
    font-family: Arial;
    text-align: left;
    font-size: 34;
}
h3 {
    font-family: Arial;
    text-align: left;
    font-size: large;

}
p {
    font-family: Arial;
    text-align: left;
    font-size: medium;
}