body {
    background-color: whitesmoke;
    margin: 20px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 48px;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 40px;
}
h3 {
    font-family: Arial;
    text-align: left;
    font-size: large;

}
p {
    font-family: Arial;
    text-align: left;
    font-size: medium;
}
ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-top: 5px;
    border-bottom: 5px;
    border-bottom: darkgreen;
}
ul li a  {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkgreen;
    color:whitesmoke;
  }
  ul li a:hover{
    text-decoration: underline;
  }