body {
    background-color: whitesmoke;
    margin: 60px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 72px;
    color: darkgreen;
    ;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 60px;
}
h3 {
    font-family: Arial;
    text-align: left;
    font-size: large;

}
h4 {
    font-family: Arial;
    font-weight: bold;
    text-align:left;
    font-size: medium;
}
p {
    font-family: Arial;
    text-align: left;
    font-size: medium;
}

  .site-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-top: 5px;
    border-bottom: 5px;
    border-bottom: darkgreen;
  }
.site-nav-item {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkgreen;
    color:whitesmoke;
    border-top: 5px;
    border-bottom: 5px;
    border-color: darkgreen;
}
.site-nav .site-nav-item a:hover {
    text-decoration: underline;
}
#page-nav-img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    border: 1px solid darkgreen;
    border-radius: 4px;
    padding: 5px;
    align-items: center;
    float: left;
}
.page-nav {
    list-style: square inside;
    border: 5px;
    border-color: darkgreen;
    padding: 5px;
}
.page-nav-item {
    text-decoration: none;
    padding: 8px;
    border: 5px;
    border-color: darkgreen;
}
.page-nav .page-nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: darkgreen;
}
#section-1 {
    text-align: center;
}
li {
    font-size: large;

}
#page-footer {
    font-size: smaller;

  }
#footer-image {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
    border: 1px solid darkgreen;
    border-radius: 4px;
    float: right;
  }