body {
    background-color: whitesmoke;
    margin: 20px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    color: darkgreen;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 40px;
}
h3 {
    font-family: Arial;
    text-align: left;
    font-size: large;

}
h4 {
    font-family: Arial;
    font-weight: bold;
    text-align:left;
    font-size: medium;
}
p {
    font-family: Arial;
    text-align: left;
    font-size: medium;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-top: 5px;
    border-bottom: 5px;
    border-bottom: darkgreen;
}
nav ul li a  {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkgreen;
    color:whitesmoke;
  }
  nav ul li a:hover{
    text-decoration: underline;
  }
  footer {
    font-size: smaller;

  }