body {
    background-color: whitesmoke;
    margin: 20px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 72px;
    color: darkgreen;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 60px;
}
h3 {
    font-family: Arial;
    text-align: left;
    font-size: large;

}
h4 {
    font-family: Arial;
    font-weight: bold;
    text-align:left;
    font-size: medium;
}
p {
    font-family: Arial;
    text-align: left;
    font-size: medium;
}

  .site-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-top: 5px;
    border-bottom: 5px;
    border-bottom: darkgreen;
  }
.site-nav-item {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkgreen;
    color:whitesmoke;
}
.site-nav .site-nav-item a:hover {
    text-decoration: underline;
}
.page-nav {
    text-wrap: pretty;
    list-style: disc;
    border: 5px;
    border-color: darkgreen;
    display: flex;
}
  .page-footer {
    font-size: smaller;

  }