body {
    background-color: whitesmoke;
    margin: 60px;
}
h1#site-title {
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    font-size: 92px;
    color: darkgreen;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 60px;
}
h3 {
    font-family: Arial;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: darkgreen;
}
h4 {
    font-family: Arial;
    font-weight: bold;
    text-align:center;
    font-size: medium;
}
.quote {
    font-family:Arial;
    font-weight:bold;
    font-style:italic;
    font-size:larger;
    font-display:inherit;
    padding: 20px;
}
p {
    font-family: Arial;
    text-align: center;
    font-size: medium;
}
.site-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
.site-nav-item {
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: darkgreen;
}
site-nav .site-nav-item a {
    color:seashell;
    text-decoration: none;
}
.site-nav .site-nav-item a:hover {
    text-decoration: underline;
}
.page-nav {
    list-style: none;
    text-align: left;
    font-family: Arial;
}
.page-nav-item {
    text-decoration: none;
    padding: 3px;
    text-align: left;
}
page-nav .page-nav-item a {
    text-decoration: none;
}
.page-nav .page-nav-item a:hover {
    text-decoration: underline;
}
#section-1 {
    text-align: center;
}
figure {
    padding: 5px;
    float: right;
}
figcaption {
    font-family:Arial;
    font-size: smaller;
}
.items-list {
    font-size: medium;
    font-family: Arial;
    text-align: center;
    list-style: none;
    padding: 5px;
}
.footer-nav {
    list-style: none;
    padding-top: 20px;
}
footer#page-footer {
    font-size: medium;
  }
.footer-copyright {
    text-align: left;
    font-size: small;
    margin-left: 50px;
  }