h1 {
    color: #5A644D;
    font-family: verdana;
    font-size: 48px;
    margin-left: 35px;
  }

  p {    
    font-family: verdana;
    color: black ;
    margin-top: 20px;
    margin-bottom: 32px;
    }

  figure {
    margin-bottom: 24px;
    padding: 12px;
  }
  
  figure img {
    border: 3px solid #5A644D;
    width: auto;
    height: auto;
    margin-bottom: 6px;
  }
  p img {
    border: 4px solid #5A644D;
    float: right;
    height: auto;
    width: auto;
    margin-right: 40px;
    margin-left: 20px;
  }
  
  figcaption {
    font-family: verdana;
    font-size: 12px;
  }