h1#site-title {
  color: #5A644D;
  font-family: verdana;
  font-size: 48px;
  margin-left: 35px;
  text-align: center;
}
h1#article-title {
  color: #5A644D;
  font-family: verdana;
  font-size: 30px;
  margin-left: 35px;
  text-align:left;
}
h2 {
  color: #5A644D;
  font-family: verdana;
  font-size: 25px;
  text-align: left;
}
  p {    
    font-family: verdana;
    color: black ;
    margin-top: 20px;
    margin-bottom: 32px;
    }

  figure {
    margin-bottom: 24px;
    padding: 12px;
  }
  
  figure img {
    border: 3px solid #5A644D;
    width: auto;
    height: auto;
    margin-bottom: 6px;
  }
  figure.main-image  {
    background: palegoldenrod;
    border: 3px solid #5A644D;
  }
  figure.section-image {
    border:#5A644D;
    padding: 12px;
  }
  p img {
    border: 4px solid #5A644D;
    float: right;
    height: auto;
    width: auto;
    margin-right: 40px;
    margin-left: 20px;
  }
    figcaption {
    font-family: verdana;
    font-size: 18px;
  }
  a {
    font-weight: Bold;
    font-family: Verdana;
    color:blue;
    padding: 3px;
  }
  ul li a  {
    text-decoration: none;
  }
  ul li a:hover{
    text-decoration: underline;
  }