body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 60px;
}
body.dark-mode {
  background: #000000;
  color: #ffffff;
}
body.dark-mode button {
  background-color: #ffffff; 
}
.container {
  padding: 12px 0;
  width: 95%;
  margin: 0 auto;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 92px;
  color: darkseagreen;
  text-shadow: -1px -1px 0 #000
}
h2 {
  font-family: Arial;
  font-size: 50px;
  padding: 15px;
}
h3 {
  margin: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
h4 {
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:larger;
}
li {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 4px;
}
p {
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.site-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  border-top: 2px solid darkseagreen;
  border-bottom: 2px solid darkseagreen;
  padding: 5px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.site-nav-item {
  text-decoration: none;
  padding: 8px;
  display: block;
  background-color: darkseagreen;
}
.footer-nav-item {
  text-decoration: none;
  padding: 8px;
  display: block;
  background-color: #136F3F;
}
.site-nav-item a {
  color:seashell;
  text-decoration: none;
}
.footer-nav-item a {
  color:seashell;
  text-decoration: none;
}
.site-nav-item a:hover {
  text-decoration: underline;
}
.footer-nav-item a:hover {
  text-decoration: underline;
}
.footer-nav {
  list-style: none;
  padding-top: 20px;
  border-top: 2px solid #136F3F;
  padding: 5px;
}
footer#page-footer {
  font-size: medium;
}
.footer-copyright {
  text-align: left;
  font-size: small;
  margin-left: 50px;
}
@media all and (min-width: 768px) {
  figure.main-image  {
    padding: 12px;
    height: auto;
    max-width: 100%;
    height: auto;
  }
}
figure.main-image {
  float: left;
  border: 3px solid darkseagreen;
  font-size: smaller;
  font-style: italic;
  text-align: center;
}
img {
  border: 1px solid;
}
#maincontent {
  padding: 10px;
  margin-bottom: 60px;
}
.cookbooks {
  list-style: none;
  padding: 5px;
}
.cookbooks-item {
  text-decoration: none;
  padding: 8px;
}
.cookbooks-item a {
  text-decoration: none;
}
.cookbooks-item a:hover {
  text-decoration: underline;
}