h1#site-title {
  color: #5A644D;
  font-family: verdana;
  font-size: 48px;
  margin-left: 35px;
  text-align: center;
}
body {
  background-color: rgb(243, 241, 221);
}
h1#article-title {
  color: #5A644D;
  font-family: verdana;
  font-size: 40px;
  margin-left: 25px;
  text-align:left;
}
h2 {
  color: #5A644D;
  font-family: verdana;
  font-size: 25px;
  text-align: left;
  }
img {
  max-width: 100%;
  height: auto;
}
  p {    
    font-family: verdana;
    color: black ;
    margin-top: 20px;
    margin-bottom: 32px;
    }
  figure {
    margin-bottom: 24px;
    padding: 12px;
  }
    figure img {
    border: 3px solid #5A644D;
    max-width: 100%;
    height: auto;
    margin-bottom: 6px;
  }
  @media all and (min-width: 768px) {
    figure.main-image  {
      padding: 12px;
      height: auto;
      max-width: 100%;
      height: auto;
    }
  }
   figure.section-image {
    border:#5A644D;
    padding: 12px;
    max-width: 100%;
    height: auto;
  }
  p img {
    border: 4px solid #5A644D;
    float: right;
    height: auto;
    margin-right: 40px;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
  }
    figcaption {
    font-family: verdana;
    font-size: 12px;
  }
  a {
    font-weight: Bold;
    font-family: Verdana;
    color:blue;
    padding: 3px;
  }
  ul li a  {
    text-decoration: none;
  }
  ul li a:hover{
    text-decoration: underline;
  }