body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 60px;
}
body.dark-mode {
  background: #003300;
  color: #ffffff;
}
body.dark-mode button {
  background-color: #ffffff; 
}
.container {
  padding: 12px 0;
  width: 95%;
  margin: 0 auto;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 92px;
  color: #136F3F;
}
h2 {
  font-family: Arial;
  font-size: 60px;
  padding: 15px;

}
h3 {
  margin: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
h4 {
  margin: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
p {
  margin-left: 20px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.site-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.site-nav-item {
  text-decoration: none;
  padding: 8px;
  display: block;
  background-color: darkseagreen;
}
.site-nav-item a {
  color:seashell;
  text-decoration: none;
}
.site-nav-item a:hover {
  text-decoration: underline;
}
.footer-nav {
  list-style: none;
  padding-top: 20px;
}
footer#page-footer {
  font-size: medium;
}
.footer-copyright {
  text-align: left;
  font-size: small;
  margin-left: 50px;
}
@media all and (min-width: 768px) {
  figure.main-image  {
    padding: 12px;
    height: auto;
    max-width: 100%;
    height: auto;
  }
}
